[Unit]
Description=transbot_oled start service
After=multi-user.target

[Service]
Type=idle
User=jetson
ExecStart=/bin/sh -c "python3 /home/jetson/oled_yahboom/yahboom_oled.pyc"
WorkingDirectory=/home/jetson

[Install]
WantedBy=multi-user.target
